:root {
    --primary: #8bc34a;
    --secondary: #ffcc00;
    --dark: #333;
    --light: #f8f9fa;
    --gray: #f2f2f2;
    --white: #ffffff;
    --transition-speed: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0;
    animation: fadeInPage 0.8s ease forwards;
}

#order-header{

    background-color: #ffcc00;
}

.table-header-date-picker>input{

    background-color: #FFFFFF;
    border: none;
    border-radius: 50px;
    padding: 8px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #333;
    -webkit-tap-highlight-color: transparent;

}

.table-header-date-picker>input:focus{

    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19);
}

#order-tbl-arrows>i{

    color: #ffcc00;
}

#order-tbl-arrows>i:hover{

    color: #8bc34a;
}

#order-tbl tr > th::after{

    background-color: #ffcc00;
}

#order-tbl tr > th:hover {
    color: #ffcc00;
}

#order-tbl tbody > tr::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: rgba(255, 236, 179, 0.17);
    transition: width var(--transition-speed) ease;
    z-index: 0;
}

#order-tbl tbody > tr:hover {
    transform: translateX(5px);
}

#order-tbl tbody > tr:hover::before {
    width: 100%;
}

.fa-eye:hover{

    transform: scale(1.3) rotate(10deg);
    color: #ffcc00;
}

#order-search-field>input:focus #order-search-field>i{

    color: #ffcc00; !important;
}

#order-details-modal-header{

    background-color: #616161;
    color: #FFFFFF;
}

#order-details-modal-body{

    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*align-items: flex-start;*/
    gap: 8px;
}

#order-details-modal-body>label{

    font-weight: 500;
}

#order-details-modal-body>textarea{

    border-radius: 5px;
    border: 1.4px solid rgba(169, 169, 169, 0.4);
    padding-inline: 10px;
    padding-block: 7px;
    outline: none;
    font-weight: 400;
    color: rgb(51, 51, 51);
    font-size: 0.87rem;
}

.close-btn{

    background-color: #5C6BC0;
    border: none;

}


@media all and (max-width: 768px) {

    .page-title{

        width: 100%;
        text-align: center;
        margin-bottom: 0.8em;
    }

    .table-header-date-picker{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
    }
}


